* {
  box-sizing: border-box;
}

/*define the basic settings for the page*/
body {
    font-family: clarendon-urw, serif;
    font-size: 20px;
    color: #a4caa6;
    line-height: 22px;
    background-color: #012500;
    margin: 20px auto; /*this will eliminate any white border around the browser frame*/

}
/* Style the header */
p {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  font-family: clarendon-urw, serif;
    font-size: 20px;
    color: #a4caa6;
}


header {
  color: #012500; /* This is the text color*/
  background-color: #a4caa6; /* This is the box color*/
  padding: 5%;
  height: 30%;
  margin-top: 0;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 5%;

}
.name {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*define the link styles*/
a {
  color:  #a4caa6;
}
a:hover {
  color:  #a4caa6;
}

/*define the heading styles*/
h1 {
  font-weight: 500px;
  font-style: normal;
  font-size: 1000px;
  line-height: 0px;
  text-align: center;
  padding-bottom: -10%;
  margin-top: 10%;

 }

h2 { 
	font-family: job-clarendon, serif;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;font-weight: 300;
  font-size: 40px;
  line-height: 44px;
  border-bottom: 1px dotted #a4caa6;

}

h3 { 
  text-transform: none;
  color: #ffffff;
  letter-spacing: 25px;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px #a4caa6, 0 0 5px #012500;
  }

/*you can apply styling to multiple elements by separating them with a comma*/
h1, h2, h3, h4, h5, p {    
  margin-bottom: -5px;
}

/*define the strong styles*/
strong {
	color:  #a4caa6;
}
/*define the unordered list styles*/
ul {
  color: #a4caa6;
}

/*define the ordered list styles*/
ol {
  color: rgb(164, 202, 166);
}

.clarendonurwextrawide {
    font-family: clarendon-urw-extra-wide, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.clarendontextpro {
    font-family: clarendon-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.clarendonurwextranarrow {
  font-family: clarendon-urw-extra-narrow, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.jobclarendon {
  font-family: job-clarendon, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.jobclarendonbold {
  font-family: job-clarendon, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.center {
  padding: 100px 0;
  text-align: center;
}


/* define a style for section elements*/

/* aside {

} */
/* you can target a specific tag within another element*/
footer p {
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 25px #a4caa6, 0 0 5px #012500;
  margin-bottom: 20%;
}

.textshadow {
  text-shadow: 1px 1px 2px black, 0 0 25px #a4caa6, 0 0 5px #012500;
}

p.a {
  text-align-last: center;
  font-size: 28px;
  line-height: 50px;
  font-family: clarendon-text-pro, serif;
  font-style: normal;

}


